:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0a0a0a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding-top: 80px; /* Padding compensates for fixed navbar */

  /* Main color variables for the app */
  --bg-color: #000000;
  --bg-color-comp: rgba(16, 15, 15, 0.985);
  --bg-navbar: #151414;
  --accent-color: rgba(85, 240, 168, 0.853);
  --text-color: rgb(245, 245, 245);
  --bg-text-hov: #272727;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.card-columns {
  @media (min-width: 992px) and (max-width: 1199.98px) {
    column-count: 4;
  }
  @media (min-width: 1200px) {
    column-count: 5;
  }
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}
.card-img-top {
  height: 200px;
  object-fit: contain;
  width: 100%;
}
